In [2]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

In [3]:
query = "(from:Snapdeal) until:2022-09-10 since:2010-01-01"
tweets = []
limit = 5000

In [4]:
for tweet in sntwitter.TwitterSearchScraper(query).get_items():
    #print(vars(tweet))
    #break
    if len(tweets) == limit:
        break 
    else:
        tweets.append([tweet.date , tweet.user.username ,tweet.content])

In [11]:
df = pd.DataFrame(tweets, columns= ['Date','user','Tweet'])

In [12]:
df

,Date,user,Tweet
0,2022-09-09 14:27:09+00:00,snapdeal,Find your brahmastra of style with Ranbir Kapo...
1,2022-09-09 09:11:21+00:00,snapdeal,Our Astras in this #astraverse are: Good Quali...
2,2022-09-09 06:53:27+00:00,snapdeal,Unstoppable! \nIt's Diamond for our Golden Boy...
3,2022-09-09 05:50:54+00:00,snapdeal,Perfect astra for styling your vastra straight...
4,2022-09-08 18:52:19+00:00,snapdeal,"There will be no one like, her majesty. 70 yea..."
...,...,...,...
4995,2017-10-11 06:30:04+00:00,snapdeal,"This Diwali, add smiles to your heroes’ lives ..."
4996,2017-10-11 04:30:04+00:00,snapdeal,Catch the Wednesday #SuperBazaar with super de...
4997,2017-10-10 13:30:03+00:00,snapdeal,Rishton mein milao aur bhi mithas hamari #Diwa...
4998,2017-10-10 06:30:06+00:00,snapdeal,The 3rd and final question of #OptimumNutritio...
4999,2017-10-10 05:30:04+00:00,snapdeal,Who's excited for the second question of the #...

In [13]:
import pickle

In [14]:
pickle.dump(df,open('SnapDealtweet_data.pkl','wb'))