In [12]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

In [13]:
query = "(from:Flipkart) until:2022-09-10 since:2010-01-01"
tweets = []
limit = 5000

In [14]:
for tweet in sntwitter.TwitterSearchScraper(query).get_items():
    #print(vars(tweet))
    #break
    if len(tweets) == limit:
        break 
    else:
        tweets.append([tweet.date , tweet.user.username ,tweet.content])

In [15]:
df = pd.DataFrame(tweets, columns= ['Date','user','Tweet'])

In [16]:
df

,Date,user,Tweet
0,2022-09-09 11:14:56+00:00,Flipkart,Attention!!ðŸ¤©\n\nTune in to the Flipkart app on...
1,2022-09-08 06:25:15+00:00,Flipkart,@Apple @realmeIndia @SamsungIndia @XiaomiIndia...
2,2022-09-08 06:25:13+00:00,Flipkart,Not us bringing you smartphones at The Big Bil...
3,2022-09-07 10:38:47+00:00,Flipkart,@Cleartrip the only acceptable change we are i...
4,2022-09-02 10:07:15+00:00,Flipkart,shopping
...,...,...,...
4995,2017-03-17 10:40:40+00:00,Flipkart,The Carrier Cyclojet is the latest in AC techn...
4996,2017-03-17 07:35:19+00:00,Flipkart,@WaliaMandeep Spoiler alert!\n\n:)
4997,2017-03-17 06:57:47+00:00,Flipkart,Beauty lies within. #BeautyAndTheBeast https:/...
4998,2017-03-16 09:25:51+00:00,Flipkart,Experience the future of 3D gaming with the So...
4999,2017-03-16 06:48:41+00:00,Flipkart,"""When it comes to growing, gender has no role ..."

In [17]:
import pickle

In [18]:
pickle.dump(df,open('Flipkarttweet_data.pkl','wb'))