In [1]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

In [2]:
#query = "python"
#tweets = []
#limit = 100

In [3]:
#for tweet in sntwitter.TwitterSearchScraper(query).get_items():
    #print(vars(tweet))
    #break
    #if len(tweets) == limit:
        #break 
    #else:
        #tweets.append([tweet.date , tweet.user.username , tweet.content])

In [4]:
#df = pd.DataFrame(tweets, columns= ['Date','user','Tweet'])

In [5]:
#df

In [6]:
query = "(from:Amazon OR from:India) until:2022-09-10 since:2010-01-01"
tweets = []
limit = 5000

In [7]:
for tweet in sntwitter.TwitterSearchScraper(query).get_items():
    #print(vars(tweet))
    #break
    if len(tweets) == limit:
        break 
    else:
        tweets.append([tweet.date , tweet.user.username ,tweet.content])

In [8]:
df = pd.DataFrame(tweets, columns= ['Date','user','Tweet'])

In [10]:
df

,Date,user,Tweet
0,2022-09-09 23:12:33+00:00,amazon,@AllieK02 We're sorry for the inconvenience. H...
1,2022-09-09 18:29:45+00:00,amazon,"@IM4LOSER Hi, there. Using the link provided b..."
2,2022-09-09 14:54:42+00:00,amazon,@IM4LOSER We would like to take a closer look ...
3,2022-09-09 14:38:48+00:00,amazon,"@IM4LOSER Hello there, we're sorry for this. A..."
4,2022-09-09 13:37:30+00:00,amazon,@MugaXX AmazonÂÖ¨Âºè„Åß„Åô„ÄÇ\n„Åî‰∏çÂø´„ÅÆÂøµ„Çí„Åä„Åã„Åë„Åó„Å¶„Åä„Çä„Åæ„Åô„ÄÇ\nË©≥Á¥∞„ÅÆÁ¢∫Ë™ç„Çí„Åï...
...,...,...,...
4995,2021-10-20 15:43:42+00:00,amazon,@kristilouwho7 We love it! Your costume is goi...
4996,2021-10-20 14:10:46+00:00,amazon,@RobHowV We think this pic is ooh-so-adorable!...
4997,2021-10-20 13:33:05+00:00,amazon,@OtherAtma If the resolution shared over the e...
4998,2021-10-20 13:11:32+00:00,amazon,@ahmonieee Hello! We're sorry for the unexpect...
4999,2021-10-20 12:52:39+00:00,amazon,@littlewingedpig You're so welcome! ü•∞üëªüéÉüçÇüñ§üß°

In [12]:
import pickle

In [13]:
pickle.dump(df,open('amazontweet_data1.pkl','wb'))